<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        //your selector here is any btnOrderLiterature class
        $(".btnOrderLiterature").click( function()
        {
            //Here you handle what happens when 
            //the user clicks an element that holds the btnOrderLiterature class
            alert( $(this).val() ); 
        });
    </script>
</head>
<body>
    <input type="button" class="btnOrderLiterature" value="1" ng-click="addLiteratureToSession($event)" />
    <input type="button" class="btnOrderLiterature" value="2" ng-click="addLiteratureToSession($event)" />
    <input type="button" class="btnOrderLiterature" value="3" ng-click="addLiteratureToSession($event)" />
    <input type="button" class="btnOrderLiterature" value="4" ng-click="addLiteratureToSession($event)" />
    <input type="button" class="btnOrderLiterature" value="5" ng-click="addLiteratureToSession($event)" />
</body>
</html>